body{
    background-color: hwb(184 15% 32%);
    color: hsl(226, 59%, 40%);
    text-align: center;
}
.video{
    margin-top: 40px;
    
}
.video iframe{
    border: solid rgb(40, 114, 211) 4px;
    border-radius: 10px;
}
.mapa iframe{
    border: solid #002280 4px;
    border-radius: 5%;
}

img{
    border: solid #003380 4px;
    border-radius: 16px;
    height: 400px;
    right: 320px;
}